<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NodeJs_API"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Model.menu"
            android:exported="false" />

        <activity
            android:name=".Model.Activity_PhieuXuat"
            android:exported="false" />
        <activity
            android:name=".Xuly.XuLyPhieuXuat"
            android:exported="false" />
        <activity
            android:name=".Model.Activity_PhieuNhap"
            android:exported="false" />
        <activity
            android:name=".Xuly.XuLyPhieuNhap"
            android:exported="false" />
        <activity
            android:name=".Xuly.XuLyDonHang"
            android:exported="false" />
        <activity
            android:name=".Model.Activity_DonHang"
            android:exported="false" />
        <activity
            android:name=".Xuly.XulyKhoHang"
            android:exported="false" />
        <activity
            android:name=".Model.Activity_KhoHang"
            android:exported="false" />
        <activity
            android:name=".Xuly.XulySanPham"
            android:exported="false" />
        <activity
            android:name=".Model.Activity_SanPham"
            android:exported="false" />
        <activity
            android:name=".Xuly.XulyNhanVien"
            android:exported="false" />
        <activity
            android:name=".Model.Activity_NhanVien"
            android:exported="false" />
        <activity
            android:name=".Model.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Xuly.XulyKhachHang"
            android:exported="false" />
        <activity
            android:name=".Model.loginAdmin"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>